footer {
  background-color: #fff;
  @media screen and (min-width: $small-breakpoint) {
    margin-top: 60px;
  }
}

.footerimg {
  background-image: url("../images/salades-vegan.jpg");
  width: 100%;
  height: 240px;
  background-size: cover;
  position: relative;
  text-align: center;

  &:before {
    z-index: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .row {
    padding-top: 90px;
    // so that it overlays the black filter
    position: relative;

    @media screen and (max-width: $small-breakpoint) {
      padding-top: 60px;
    }
  }
}

a.footerbutton {
  display: block;
  text-transform: uppercase;
  color: $primary-color;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  margin: 20px auto 0 auto;
  width: 250px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  transition: 300ms ease;
  &:hover {
    color: white;
    background: $primary-color;
  }
}


.footertext {
  padding: 40px 0;
}

.footertext .columns div {
  color: black;
  font-weight: 500;
  font-size: 12px;
  width: 190px;
  margin: auto;
  padding-left: 0px;
  font-size: 16px;
   @media screen and (max-width: $small-breakpoint) {

    padding-left: 30px;
  }
}

.footertext .columns div:first-child {
  color:#9d2373;
  font-weight: 700;
}

@media screen and (max-width: $small-breakpoint) {
  .bloc {
    display:block;
    clear:both;
  }
}
