footer {
  background-color: #fff;
  @media screen and (min-width: $small-breakpoint) {
    margin-top: 90px;
  }
}

.footerimg {
  background-image: url("../images/salades-vegan.jpg");
  width: 100%;
  height: 240px;
  background-size: cover;
  position: relative;
  text-align: center;

  &:before {
    z-index: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .row {
    padding-top: 90px;
    // so that it overlays the black filter
    position: relative;

    @media screen and (max-width: $small-breakpoint) {
      padding-top: 60px;
    }
  }
}




a.footerbutton {
  display: block;
  text-transform: uppercase;
  color: $primary-color;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  margin: 20px auto 0 auto;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 900;
}


.footertext{
  margin-top:50px;
}

.footertext .columns div{
  color:black;
  font-weight: 500;
  font-size: 12px;
  width: 190px;
  margin: auto;
  padding-left: 60px;
   @media screen and (max-width: $small-breakpoint) {

    padding-left: 30px;
  }
}

.footertext .columns div:first-child{
  color:#9d2373;
  font-weight: 900;
  font-size: 12px;
}

@media screen and (max-width: $small-breakpoint) {
  .bloc {
    display:block;
    clear:both;
  }
}
