.headerMain {
  background: url("../images/repas-vegan-complet.jpg");
  width:100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 180px;
  text-align: center;

  @media screen and (min-width: $small-breakpoint) {
    height: 550px;

    // Only show line break on mobile
    br {
      display: none;
    }
  }

  // Filter to darken background image
  &:before {
    content: '';
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
    background: #95808F;
  	opacity: .4;
  }

  h1 {
    margin: 0 auto;
    font-family: 'open sans';
    display: inline;
    color: #fff;
    background: $primary-color;
    border-radius: 3px;
    padding: 2px 20px;
    z-index: 70%;
    // makes z-index work
    position: relative;
    @media screen and (min-width: $small-breakpoint) {
      width: auto;
    }
  }

  h2 {
    margin-top: 20px;
    font-family: 'ke aloha', cursive, arial;
    font-size: 54px;
    color: #fff;
    text-shadow: 0 0 14px rgba(0,0, 0, .4);
    z-index: 100;
    // makes z-index work
    position: relative;
  }
}

.top-bar.sticky, .title-bar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
