.headerimg {
  padding-top: 100px;
  text-align: center;

  h1 {
    margin: 0 auto;
    display: inline;
    color: #fff;
    background: $primary-color;
    border-radius: 3px;
    padding: 2px 20px;
  }
}
