// LINKS OF ALL SCSS FILES

@import "config";

@import "footer/footer";
@import "header/header-menu";
@import "header/header";
@import "landing/figures";
@import "landing/landing";
@import "values/values";
@import "practical-infos/practical-infos";

// LINK OF THE ADDED FONT

@font-face {
  font-family: 'ke aloha';
  src: url('../sass/fonts/ke_aloha.ttf');
}

html {
  max-width: 100%;
  overflow-x: hidden;

  body{
    margin: 0;
    font-family: "open sans", roboto, arial, sans-serif;
    background: url('../images/pattern.png');
    background-repeat: repeat;
    background-size: 280px 280px;
    max-width: 100%;
    overflow-x: hidden;

    // White overlay to make pattern clearer
    &:before {
      content: '';
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(255, 255, 255, .95);
    }
  }
}
