section#main {
  padding-top: 50px;
  text-align: center;
  @media screen and (min-width: $small-breakpoint) {
    text-align: left;
  }
  @media screen and (min-width: $small-breakpoint) and (max-width: 1023px) {
    // center content
    transform: translateX(-3.5%);
  }

  h3 {
    font-family: 'Ke Aloha';
  	font-size: 40px;
  	letter-spacing: 1.7px;
  	color: $primary-color;
  }

  p.teaser {
    font-family: 'Open Sans';
  	font-size: 16px;
  	line-height: 1.94;
  	letter-spacing: 0.7px;
    text-align: left;
  }

  a {
    text-decoration: none;
    padding: 0;
    font-size: 16px;
    position: relative;
    color: #1d1d1d;

    &:before {
      transition: all 0.3s ease-in-out 0s;
      content: '';
      width: 40%;
      position: absolute;
      bottom: -8px;
      height: 2px;
      background: $secondary-color;
      left: 0;
    }
    @media screen and (min-width: $small-breakpoint) {
      &:hover:before {
        width: 100%;
      }
    }
  }
}
