footer {
  margin-top: 90px;
  background-color: #fff; }

.footerimg {
  background-image: url("../images/salades-vegan.jpg");
  width: 100%;
  height: 240px;
  background-size: cover;
  position: relative;
  text-align: center; }
  .footerimg:before {
    z-index: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .footerimg .row {
    padding-top: 90px;
    position: relative; }

a.footerbutton {
  display: block;
  text-transform: uppercase;
  color: #9d2373;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  margin: 20px auto 0 auto;
  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 13px;
  font-weight: 900; }

.footertext {
  margin-top: 50px; }

.footertext .columns div {
  color: black;
  font-weight: 500;
  font-size: 12px;
  width: 190px;
  margin: auto;
  padding-left: 30px; }

.footertext .columns div:first-child {
  color: #9d2373;
  font-weight: 900;
  font-size: 14px; }

.logo {
  position: fixed;
  width: 100px;
  height: auto;
  left: 50px;
  top: 0;
  z-index: 300; }

nav {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 250; }

.top-bar {
  background-color: #9d2373;
  padding: 0px;
  z-index: 1000;
  border-bottom: 3px solid #fcd41e; }

.top-bar ul {
  background-color: #9d2373; }
  .top-bar ul li {
    padding: 0px 40px 0px 40px; }
    .top-bar ul li a {
      text-decoration: none;
      color: white; }
      .top-bar ul li a:hover {
        color: #9d2373; }

.title-bar {
  background-color: #9d2373;
  border-bottom: 3px solid #fcd41e; }

.menu-icon {
  float: right; }

a {
  text-decoration: none;
  color: #ffffff;
  padding: 40px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease; }
  a:hover {
    background: #ffffff;
    color: #9d2373; }

.headerimg {
  background: url("../images/header.jpg");
  width: 100%;
  height: 550px;
  background-size: cover;
  position: relative;
  padding-top: 180px;
  text-align: center; }
  .headerimg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #95808F;
    opacity: .4; }
  .headerimg h1 {
    margin: 0 auto;
    font-family: 'open sans';
    display: inline;
    color: #fff;
    background: #9d2373;
    border-radius: 3px;
    padding: 2px 20px;
    z-index: 100;
    position: relative; }
  .headerimg h2 {
    margin-top: 20px;
    font-family: 'ke aloha', cursive, arial;
    font-size: 54px;
    color: #fff;
    text-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
    z-index: 100;
    position: relative; }

.top-bar.sticky, .title-bar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0; }

figure {
  margin-top: 50px;
  height: 330px;
  width: 400px;
  position: relative;
  box-sizing: content-box; }
  figure .frame {
    padding: 4px 0;
    border: 2px solid #9d2373;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    top: -25px;
    left: 41px;
    z-index: 0;
    border-radius: 3px; }
  figure img {
    display: block;
    z-index: 200;
    /* makes z-index work */
    position: relative;
    border-radius: 3px; }
  figure p {
    line-height: 30px;
    background-color: #fcd41e;
    position: absolute;
    top: 30px;
    left: 30px;
    border-top: 260px solid #fcd41e;
    width: 100%;
    text-align: center;
    z-index: 100;
    border-radius: 3px; }

#main .row:nth-of-type(even) p {
  left: -30px; }
#main .row:nth-of-type(even) .frame {
  left: -41px; }

section#main {
  padding-top: 100px; }

.values p:first-child {
  color: black;
  font-family: 'ke aloha';
  text-align: center;
  width: 390px;
  margin: auto;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px; }
.values .row {
  margin-top: 50px;
  background-color: none; }
.values .columns {
  text-align: center; }
  .values .columns img {
    margin: auto; }
  .values .columns h3 {
    margin-top: 20px;
    color: #9d2373;
    font-family: "ke aloha";
    text-align: center; }
  .values .columns p {
    margin: auto;
    font-size: 12px; }
.values .valueslider {
  background-color: #fcd41e;
  margin-top: 50px;
  height: 200px; }
  .values .valueslider div {
    height: 200px;
    background-color: white;
    width: 100%;
    margin: auto;
    border-radius: 4px; }

@font-face {
  font-family: 'ke aloha';
  src: url("../sass/fonts/ke_aloha.ttf"); }
body {
  margin: 0;
  font-family: "open sans", roboto, arial, sans-serif;
  background: url("../images/pattern.png");
  background-repeat: repeat;
  background-size: 280px 280px;
  overflow-x: hidden; }
  body:before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95); }

/*# sourceMappingURL=style.css.map */
